ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24px, 1fr));
    grid-gap: 8px;
    grid-auto-flow: column;
    list-style: none;
    -webkit-padding-start: 0;
}

ul li{
    border: 1px solid steelblue;
    color: steelblue;
    border-radius: 15%;
    text-align: center;
}

ul li:hover{
    cursor: pointer;
    color: whitesmoke;
    background-color: steelblue;
}

ul li.active{
    border: 1px solid steelblue;
    color: whitesmoke;
    background-color: steelblue;
}

