* {
    font-size: 20px;
}

label {
    color: black;
    font-weight: bold;
}

h2 {
    margin-left: 15%;
    font-size: 1.5em;
}

.character-props{
    display: grid;
    max-width: 800px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
    margin-left: 15%;
}  